<% title = t("activerecord.models.dataset.other"); content_for(:title, title) %>

<div class="breadcrumbs">
  <%= title %>
</div>

<% if @datasets.any? %>
  <ul>
    <% @datasets.each do |dataset| %>
      <li>
        <%= link_to dataset.name, dataset_path(dataset) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><%= t(".none") %></p>
<% end %>
<%= link_to t(".new_dataset"), new_dataset_path %>
